path/
logs/
eval_results/
*/__pycache__/
sampled_results/
tmp/
sampled_results_old/
test.py
*/*/__pycache__/
eval_results_old/
eval_results_retrained_1/
sampled_results_retrained_1/
pretrained_models/pretrained-IRDiff_1.pt